body {
    font-size:14pt; 
    line-height:26pt;
    color: #333333;
    font-weight: normal;
    font-family: PT Sans;
    text-align: center;
}

h2 {
    font-size:21pt; 
    line-height:26pt;
    color: #333333;
    font-weight: bold;
    font-family:PT Sans Bold;
    text-align: center;
}
.clearfix::after {
  content: "";

  display: table;
  clear: both;
}
.container {
    width: 1200px;
}
.main-navigation {
  width: 1200px;
}
.main-img {
    margin-bottom: 60px;
}
.descr-first {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 56px;
}
.descr-second {
    margin-bottom: 60px;
}
.lil-descr {
    float: left;
    width: 400px;
    height: 256px;
    margin-bottom: 60px;
    background-color:#81b3d2;
}
.middle-img {
    float: left;
    width: 800px;
    height: 256px;
}
.descr-third {
    float: left;
    width: 1200px;
    margin-bottom: 70px;
}
.small-img {
    float: left;
    width: 400px;
}
.small-img:last-child {
  float: right;
}

.descr-fifth {
    width: 1200px;
    margin-bottom: 60px;
}
.middle-descr {
    float:left; 
    width: 400px;
    background-color: #eeeeee;
}
.lil-descrs {
    float: left;
    width: 400px;
    height: 256px;
    background-color:#81b3d2;
}
.searcher-form {
    margin-left: 312px;
    margin-right: 312px;
    width: 576px;
    height: 395px;
}
.map {
    margin-bottom: 0;
}
footer {
    width: 1200;
    height: 120;
}
.last-block {
    float: left;
    width: 400px;
    height: 120px;
}